################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
bin/
obj/
[Oo]bj/[Dd]ebug/
[Oo]bj/[Rr]elease/


/packages
*/bin
*/bin/Debug
*/bin/Release
*.dll
*.pdb
*.cache
*/obj/Debug
*/obj/Release
/TestResults
/.vs
